@import '../vars';

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.2em;

    @include z-index(loader);

    &.absolute {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.background {
        background-color: rgba(color(white), .4);
    }

    &.blur {
        backdrop-filter: blur(2px);
    }

    .loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
            margin-top: .8em;
            max-width: 25vw;
            color: color(dark-gray);
            font-weight: bold;
            text-align: center;

            @include text-shadow(emphasis);
        }
    }
}
