@import '~react-toastify/dist/ReactToastify.css';
@import '../vars';

// Toast schemes.
$schemes: (
    default: (
        background-color: $white,
        font-color: $dark,
        color: $primary
    ),
    info: (
        background-color: $white,
        font-color: $dark,
        color: $info,
        icon: '\F02FD' // mdi-information-outline
    ),
    success: (
        background-color: $white,
        font-color: $dark,
        color: $success,
        icon: '\F0134' // mdi-checkbox-marked-circle-outline
    ),
    warning: (
        background-color: $white,
        font-color: $dark,
        color: $warning,
        icon: '\F05D6' // mdi-alert-circle-outline
    ),
    error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F015A' // mdi-close-circle-outline
    ),
    save-success: (
        background-color: $white,
        font-color: $dark,
        color: $success,
        icon: '\F0818' // mdi-content-save-outline
    ),
    save-warning: (
        background-color: $white,
        font-color: $dark,
        color: $warning,
        icon: '\F0818' // mdi-content-save-outline
    ),
    save-error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F0818' // mdi-content-save-outline
    ),
    send-success: (
        background-color: $white,
        font-color: $dark,
        color: $success,
        icon: '\F0DF9' // mdi-send-circle-outline
    ),
    send-warning: (
        background-color: $white,
        font-color: $dark,
        color: $warning,
        icon: '\F0DF9' // mdi-send-circle-outline
    ),
    send-error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F0DF9' // mdi-send-circle-outline
    ),
    key-success: (
        background-color: $white,
        font-color: $dark,
        color: $success,
        icon: '\F0BC5' // mdi-shield-key-outline
    ),
    key-warning: (
        background-color: $white,
        font-color: $dark,
        color: $warning,
        icon: '\F0BC5' // mdi-shield-key-outline
    ),
    key-error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F0BC5' // mdi-shield-key-outline
    ),
    security-success: (
        background-color: $white,
        font-color: $dark,
        color: $success,
        icon: '\F0CC8' // mdi-shield-check-outline
    ),
    security-warning: (
        background-color: $white,
        font-color: $dark,
        color: $warning,
        icon: '\F0ECD' // mdi-shield-alert-outline
    ),
    security-error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F0ADD' // mdi-shield-remove-outline
    ),
    notification-success: (
        background-color: $white,
        font-color: $dark,
        color: $success,
        icon: '\F0D5B' // mdi-bell-circle-outline
    ),
    notification-warning: (
        background-color: $white,
        font-color: $dark,
        color: $warning,
        icon: '\F0D5B' // mdi-bell-circle-outline
    ),
    notification-error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F0D5B' // mdi-bell-circle-outline
    ),
    form-error: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F1037' // mdi-file-remove-outline
    ),
    smiley-happy: (
        background-color: $white,
        font-color: $dark,
        color: $brand,
        icon: '\F01F5' // mdi-emoticon-happy-outline
    ),
    smiley-neutral: (
        background-color: $white,
        font-color: $dark,
        color: $secondary,
        icon: '\F01F6' // mdi-emoticon-neutral-outline
    ),
    smiley-sad: (
        background-color: $white,
        font-color: $dark,
        color: $danger,
        icon: '\F01F8' // mdi-emoticon-sad-outline
    ),
    smiley-wink: (
        background-color: $white,
        font-color: $dark,
        color: $info,
        icon: '\F0C79' // mdi-emoticon-wink-outline
    ),
    smiley-confused: (
        background-color: $white,
        font-color: $dark,
        color: $tomato,
        icon: '\F10DF' // mdi-emoticon-confused-outline
    )
);

.Toastify__toast-container {
    @include z-index(toast);
}

.Toastify__toast {
    border-radius: 8px;
    cursor: pointer;
    direction: ltr;

    -ms-flex-pack: justify;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
}

// .Toastify__toast-container--top-center,
// .Toastify__toast-container--bottom-center {
//     margin-left: -190px;
// }

// .Toastify__toast-container--top-right,
// .Toastify__toast-container--bottom-right {
//     right: 6em;
// }

// .toastify-container {
//     margin: .6rem auto !important;
//     width: 380px;
// }

.toastify-body {
    padding: 0 .6em;
}

i.close.toastify-close-icon {
    display: inline-block;
    margin: 0;
    margin-top: -.2em;
    width: .9em;
    height: .9em;
    color: $light-gray;
    font-size: .9em;
    font-style: normal;
    text-align: center;
    text-decoration: inherit;
    transition: .4s ease;

    &:before {
        content: '\F0159'; // mdi-close-circle
        font-family: 'Material Design Icons';
    }

    &:hover {
        color: $primary;
    }
}

.toastify-container {
    @each $scheme, $attr in $schemes {
        &.#{$scheme} {
            background-color: map-get($attr, 'background-color');
            color: map-get($attr, 'font-color');

            @if map-get($attr, 'icon') {
                .toastify-body {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin-left: 2.8em;
                    text-align: left;

                    &:before {
                        content: map-get($attr, 'icon');
                        position: absolute;
                        left: 12px;
                        color: map-get($attr, 'color');
                        font-family: 'Material Design Icons';
                        font-size: 2.4em;
                    }
                }
            }

            i.close.toastify-close-icon {
                &:hover {
                    color: map-get($attr, 'color');
                }
            }
        }
    }
}
