/**
 * SASS/SCSS version of Semantic UI stylesheet.
 * https://www.npmjs.com/package/semantic-ui-sass
 *
 * [i] Fonts is loaded in public/index.html.
 */

$font-family: 'Fira Sans', sans-serif;
$font-name: 'Fira Sans';
$import-google-fonts: false;

@import '~semantic-ui-sass/semantic-ui';
@import '../vars';

.ui.selection.dropdown.active,
.ui.selection.dropdown.visible {
    @include z-index(dropdown);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $slate-gray-dark;

    .dropdown-content-header {
        padding-bottom: .2em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .dropdown-content-item {
        padding-top: .2em;
        font-size: .9em;
    }
}
