@import '~semantic-ui-css/semantic.min.css';
@import '../vars';

.ui.selection.dropdown.active,
.ui.selection.dropdown.visible {
    @include z-index(dropdown);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $slate-gray-dark;

    .dropdown-content-header {
        padding-bottom: .2em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .dropdown-content-item {
        padding-top: .2em;
        font-size: .9em;
    }
}
