<?xml version="1.0" encoding="utf-8"?>
<!--
    This configuration file is required if iisnode is used to run node processes behind
    IIS or IIS Express.  For more information, visit:
    https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->
<configuration>
    <system.webServer>
        <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
        <webSocket enabled="false" />

        <rewrite>
            <rules>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>

            <!-- removes 'Server' header from IIS. -->
            <outboundRules rewriteBeforeCache="true">
                <rule name="Remove Server header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="unknown" />
                </rule>
            </outboundRules>
        </rewrite>

        <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- removes some server info headers for security. -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="Powered-By" />
                <!-- prevents MIME-sniffing a response from the declared content-type -->
                <add name="X-Content-Type-Options" value="nosniff" />
                <!-- protects your visitors against clickjacking attacks -->
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <!-- prevents cross-site scripting (XSS) attacks -->
                <add name="X-XSS-Protection" value="1; mode=block" />
                <!-- protects websites against man-in-the-middle attacks -->
                <add name="Strict-Transport-Security" value="max-age=31536000"/>
            </customHeaders>
        </httpProtocol>

        <!-- registers mime-types for static content -->
        <staticContent>
            <!--
                sets the mimeType for all the types used in the site. IIS supports a few of
                those but they not always have the right values.

                Also set `cache-control: no-cache` by default. This will be overriden based
                on the file's path.
                See https://docs.microsoft.com/en-us/iis/configuration/system.webserver/staticcontent/clientcache
                for more info
                "content-type": https://webhint.io/docs/user-guide/hints/hint-content-type
            -->
            <clientCache cacheControlMode="DisableCache" />
            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <remove fileExtension=".css"/>
            <mimeMap fileExtension=".css" mimeType="text/css"/>
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html" />
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".xml"/>
            <mimeMap fileExtension=".xml" mimeType="text/xml"/>
            <remove fileExtension=".eot"/>
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf"/>
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <remove fileExtension=".woff2"/>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>

        <!-- skips precondition for execute modules on IIS -->
        <modules runAllManagedModulesForAllRequests="true" />

        <!-- makes sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />

        <!--
            You can control how Node is hosted within IIS using the following options:
            * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
            * node_env: will be propagated to node as NODE_ENV environment variable
            * debuggingEnabled - controls whether the built-in debugger is enabled
            See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
		-->
    </system.webServer>
</configuration>
