@import '../../vars';

.ui.popup.time-picker-container {
    padding: 0;
}

i.link.icon.time-picker-clear {
    right: 1.4em !important;
    color: color(light);
    font-size: .9em;
}

.react-timekeeper {
    .react-timekeeper__top-bar {
        .react-timekeeper__tb-minute-wrapper > .react-timekeeper__tb-hour--active,
        .react-timekeeper__tb-hour-wrapper > .react-timekeeper__tb-minute--active {
            color: color(brand);
        }
    }
}
