@import 'styles/vars';

#app-layout {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    min-height: 100vh;

    header {
        padding: .6em;
        background-color: color(background-dark);
        position: sticky;
        top: 0;
        @include box-shadow(header);
        @include z-index(header);
    }

    footer {
        padding: .6em;
        background-color: color(background-dark);
    }
}
