@import '../vars';

.ui.statistic > .value.notfound-404 {
    color: $red;
    font-size: 12em !important;
}

.ui.statistic > .label {
    margin-top: 1em !important;
    font-size: 2em !important;
}
