@import 'global';
@import 'vars/colors';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .025em;
}

body {
    line-height: 1.5;
}

html,
body,
#root {
    height: auto;
}

body {
    background: $white;
}

.page-container {
    margin: 1em 2em;
}
