// https://materialdesignicons.com/
// https://dev.materialdesignicons.com/icons
// https://cdn.materialdesignicons.com/5.2.45/
// https://l-lin.github.io/font-awesome-animation/ [i] use mdi-anim-* [animated, animated-hover]
// example: <span class="mdi mdi-check-circle mdi-spin mdi-anim-float animated"></span>
@import 'icons/materialdesignicons', 'icons/materialdesignicons-animation';

button.ui.icon.mdi {
    margin: 0;
    padding: .65em .5em;

    i.mdi.icon {
        font-size: 1.4em;
    }
}

button.ui.icon {
    &:disabled {
        opacity: .2 !important;
    }

    &:hover:not(:disabled) {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    }
}
