@import '../../../styles/vars';

i.link.icon.date-picker-clear {
    right: 1.4em !important;
    color: color(light);
    font-size: .9em;
}

.Calendar__yearSelectorItem.-active .Calendar__yearSelectorText,
.Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText,
.Calendar__day.-selected,
.Calendar__day.-selectedStart,
.Calendar__day.-selectedEnd {
    color: color(white);
    background: color(primary);
}
