@import 'styles/vars';

.form-factory {
    padding: .2em .4em;

    .form-item-container {
        padding: .4em .6em;

        .form-item-header {
            margin-right: .2em;
            margin-bottom: .2em;
            margin-left: .2em;
            padding-bottom: .2em;
            width: 90%;
            color: color(secondary);
            font-size: .8em;
            font-weight: bolder;
            text-transform: uppercase;

            &[required] {
                &:after {
                    content: '*';
                    margin-left: .2em;
                }
            }
        }

        &.error {
            .form-item-header {
                &[required] {
                    color: color(orange-dark);
                }
            }
        }

        .form-item {
            position: relative;
            margin-right: .2em;
            margin-left: .2em;

            .ui,
            .DatePicker,
            .dx-datebox {
                margin: 0;
                margin-top: auto;
                width: 100%;
            }

            .ui.multiple.dropdown > .label {
                margin: .3em .2em;
                width: auto;
            }
        }

        .form-item-error-label {
            margin-top: .2em;
            margin-left: .4em;
            color: color(warning);
            font-size: .8em;

            &:before {
                content: '\F05D6';
                margin-right: .4em;
                font-family: 'Material Design Icons';
            }
        }
    }

    .form-separator-container {
        .form-separator {
            margin: 1em .6em .2em;
            padding-bottom: .2em;
            width: 100%;
            color: color(slate-gray-light);
            font-size: .9em;
            font-weight: bolder;
            text-transform: uppercase;

            .ui.section.divider {
                margin: 1em .2em;
                margin-top: .6em;
            }
        }
    }
}

div[for][disabled='true'] {
    color: color(light-gray) !important;
    opacity: .4;
}
