@import '../../vars';

.form-factory {
    padding: .2em .4em;

    .form-item-container {
        padding: .4em .6em;

        .form-item-header {
            margin-bottom: .2em;
            padding-bottom: .2em;
            width: 90%;
            color: $secondary;
            font-size: .8em;
            font-weight: bolder;
            text-transform: uppercase;

            &[required] {
                &:after {
                    content: '*';
                    margin-left: .2em;
                }
            }
        }

        &.error {
            .form-item-header {
                &[required] {
                    color: $orange-dark;
                }
            }
        }

        .form-item {
            position: relative;

            .ui,
            .dx-datebox {
                margin-top: auto;
                margin-right: 1em;
                margin-bottom: 0;
                width: 100%;
            }
        }

        .form-item-error-label {
            margin-top: .2em;
            margin-left: -.6em;
            color: $warning;
            font-size: .8em;

            &:before {
                content: '\F05D6';
                margin-right: .4em;
                font-family: 'Material Design Icons';
            }
        }
    }
}

div[for][disabled='true'] {
    color: $light-gray !important;
    opacity: .4;
}
