/** How to use:
    @import "fonts";

    .modal {
        font-family: fonts(default);
    }
*/

$default: 'Fira Sans', sans-serif;

$fonts: (
    default: $default,
    icons: 'Material Design Icons'
);

@function font($key) {
    @return map-get($fonts, $key);
}
